nav button.dropdown-toggle {
  background-color: transparent;
  box-sizing: border-box;
  color: rgb(157, 157, 157);
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 14px;
  position: relative;
  text-decoration: none;
  border: 1px solid #222;
}

nav button.dropdown-toggle:hover, .nav button.dropdown-toggle:focus {
  color: white;
  border: 1px dotted white;
}

nav .search {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
}

nav .search .inline {
  display: inline-block;
}

nav .search a {
  color: #7f7fff;
  text-decoration: underline;
}
