{% extends "__base.html" %}
{% load static from staticfiles %}

{% block head_page_css %}
  {{ block.super }}
  <link href="{% static 'css/header.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/footer.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/flying-focus.css' %}" rel="stylesheet" media="screen">

  {# inline styles so django can properly set up the static URL #}
  <style>
    #main-header {
      background-image: url({% static 'images/odnp.jpg' %});
    }
  </style>
{% endblock head_page_css %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/flying-focus.js' %}"></script>
  <script src="{% static 'js/bootstrap-accessibility.js' %}"></script>
{% endblock javascript %}

{% block head_page_meta %}
{{ block.super }}
<meta name="description" content="Historic Oregon News">
<meta name="author" content="University of Oregon, Knight Library">
{% endblock head_page_meta %}

{% block head_page_title %}
  {% if page_title %}
    {{page_title}} « Historic Oregon Newspapers
  {% else %}
    Historic Oregon Newspapers
  {% endif %}
{% endblock head_page_title %}

{% block body_content %}
  <div id="skip-link">
    <a href="#skip_menu">Skip to main content</a>
  </div>
  {{block.super}}
{% endblock body_content %}

{% block header %}
{% include "_header.html" %}
{% endblock header %}

{% block footer %}
{% include "_footer.html" %}
{% endblock %}
