{% load static from staticfiles %}

<footer>
  <div class="region region-page-bottom">
    <section id="uobannerandfooter-uoankle">
      <div class="uoankle-container container" style="margin: 0 auto;">
        <div class="row">
          <div class="col-md-3">
            <address>
              <div itemprop="name">
                <strong>University of Oregon Libraries</strong>
              </div>
              <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
                <div>
                  <span itemprop="streetAddress">1501 Kincaid Street</span>
                  <span itemprop="addressLocality">Eugene</span>,
                  <span itemprop="addressRegion">OR</span>
                </div>
                <div>
                  <span itemprop="postalCode">97403-1299</span>
                </div>
              </div>
            </address>
          </div>
          <div class="col-md-push-3 col-md-3">
            <a href="https://securelb.imodules.com/s/1540/foundation/2col.aspx?sid=1540&gid=1&pgid=408&bledit=1&dids=292" target="_blank">
              <img alt="Give now" src="{% static 'images/givenow-sm.png' %}" />
            </a>
          </div>
          <div class="col-md-3 col-md-push-3 social-icons">
            <a href="http://www.facebook.com/uolibraries">
              <img alt="Facebook" src="{% static 'images/icon-facebook.png' %}" />
            </a>
            <a href="http://twitter.com/uolibraries">
              <img alt="Twitter" src="{% static 'images/icon-twitter.png' %}" />
            </a>
            <a href="https://www.youtube.com/c/uolibrarieseugene">
              <img alt="YouTube Channel" src="{% static 'images/icon-youtube.png' %}" />
            </a>
            <a href="https://www.instagram.com/uolibraries/">
              <img alt="Instagram" src="{% static 'images/icon-instagram.png' %}" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="uobannerandfooter-uofooter">
      <div class="uofooter-container container">
        <div class="col-md-11">
          <div class="uofooter-links-container">
            <span class="uofooter-link">
              <a href="http://hr.uoregon.edu/jobs/available-positions">Careers</a>
            </span>
            <span class="uofooter-link">
              <a href="http://registrar.uoregon.edu/records-privacy">Privacy Policy</a>
            </span>
            <span class="uofooter-link">
              <a href="http://uoregon.edu/about">About</a>
            </span>
            <span class="uofooter-link">
              <a href="http://uoregon.edu/findpeople/">Find People</a>
            </span>
          </div>
          <div class="uofooter-copyright-container">
            <span class="copyright">
              &copy;
              <a href="http://uoregon.edu">University of Oregon</a>.
            </span>
            <span class="all-rights-reserved">All Rights Reserved.</span>
          </div>
        </div>
        <div class="col-md-1 uofooter-logo-container">
          <a href="http://uoregon.edu">
            <img src="{% static 'images/footer-logo.png' %}" alt="University of Oregon" width="53" height="44" />
          </a>
        </div>
      </div>
    </section>
  </div>
</footer>
