{% load static from staticfiles %}
{% load humanize %}
{% load image_urls %}

{% block this_day %}
  {% if this_day_title %}
    <h2>This day in history</h2>
  {% else %}
     <h2>Featured page</h2>
  {% endif %}

  {% block featured_pages %}
    {% for page in pages %}
      <div>
        <a href="{% url 'openoni_page' page.lccn page.date page.edition page.sequence %}">

          <picture>
            <source media="(max-width: 300px)" srcset="{% tiny_image_url page.page_obj %}">
            <source media="(max-width: 1150px)" srcset="{% thumb_image_url page.page_obj %}">
            <img src="{% medium_image_url page.page_obj %}" alt="" />
          </picture>

          <p class="featured_title">{{ page.name }}</p>
          <p class="featured_date">{{ page.date }}</p>
          <p class="featured_caption">{{ page.caption }}</p>
        </a>
      </div>
    {% endfor %}
  {% endblock featured_pages %}
{% endblock this_day %}
