<!-- http://BASE_URI/ -->

{% extends "__l_main.html" %}
{% load static from staticfiles %}
{% load humanize %}
{% load image_urls %}
 
{% block subcontent %}
<div class="row">
  <div class="col-md-6">
    <h2>Welcome</h2>
    <p>
      Welcome to Historic Oregon Newspapers. On this site you can search and
      access complete content for historic Oregon newspapers that have been
      digitized as part of the Oregon Digital Newspaper Program (ODNP). ODNP is
      committed to providing free online access to historic Oregon newspapers.
      This is made possible with the <a href="{% url 'static_pages_page' 'acknow' %}">support</a>
      of federal and state grants, the UO Libraries, and through private donations.

      <a href="http://library.uoregon.edu/digitalscholarship/digital-collections/contribute">
        Become a partner or contribute
      </a>.
    </p>
  </div>

  <div class="col-md-6">
    {% include "featured_block.html" %}
  </div>
</div><!-- /row -->
{% endblock subcontent %}
