{% extends "page.html" %}

{# We have to override the whole toolbar to get rid of the "download" attribute
   from the JP2 link. It wrecks bot protection, and is arguably just not a good
   thing for the end-user anyway #}
{% block page_image_toolbar %}
  <div id="imageViewer_nav">
    <span id="item-ctrl" class="toolbar">
      {# OpenSeadragon controls inserted via JavaScript here #}
    </span>
    <span class="other_controls">
      <span class="control">
        {% if page.previous or page.next %}
          {% if page.previous %}
            <span class="glyphicon glyphicon-chevron-left"
              aria-hidden="true"></span>
            <a href="{% url 'openoni_page' title.lccn issue.date_issued issue.edition page.previous.sequence %}"
              aria-label="Previous page">Prev</a>
          {% endif %}
          Page
          <select name="pageNum" id="pageNum" class="input-small">
            {% for p in issue.pages.all %}
              <option
                value="{% url 'openoni_page' title.lccn issue.date_issued issue.edition p.sequence %}"
                {% if p.sequence == page.sequence %}selected="selected"{% endif %}
                >{{p.sequence}}</option>
            {% endfor %}
          </select>
          of {{issue.pages.all|length}}
          {% if page.next %}
            <a href="{% url 'openoni_page' title.lccn issue.date_issued issue.edition page.next.sequence %}"
              aria-label="Next page">Next</a>
            <span class="glyphicon glyphicon-chevron-right"
              aria-hidden="true"></span>
          {% endif %}
         {% else %}
           No Other Pages
         {% endif %}
      </span> {# /Page control #}

      {% if previous_issue_first_page or next_issue_first_page %}
        <span class="control">
          {% if previous_issue_first_page %}
            <span class="glyphicon glyphicon-chevron-left"
              aria-hidden="true"></span>
            <a href="{% url 'openoni_page' title.lccn previous_issue_first_page.issue.date_issued previous_issue_first_page.issue.edition previous_issue_first_page.sequence %}"
              aria-label="Previous issue">Prev</a>
          {% endif %}
          <span aria-hidde="true">Issue</span>
          {% if next_issue_first_page %}
            <a href="{% url 'openoni_page' title.lccn next_issue_first_page.issue.date_issued next_issue_first_page.issue.edition next_issue_first_page.sequence %}"
              aria-label="Next issue">Next</a>
            <span class="glyphicon glyphicon-chevron-right"
              aria-hidden="true"></span>
          {% endif %}
        </span>
      {% else %}
        <span class="control">No Other Issues</span>
      {% endif %} {# /Issue control #}
      {% if page.jp2_filename %}
        <span class="control">
          <span class="glyphicon glyphicon-text-background"
            aria-hidden="true"></span>
          <a href="{% url 'openoni_page_ocr' title.lccn issue.date_issued issue.edition page.sequence %}"
            >Text</a>
        </span>
        <span class="control">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          <a href="{% url 'openoni_page_pdf' title.lccn issue.date_issued issue.edition page.sequence %}"
            >PDF</a>
        </span>
        <span class="control">
          <span class="glyphicon glyphicon-picture"
            aria-hidden="true"></span>
          <a href="{% url 'openoni_page_jp2' title.lccn issue.date_issued issue.edition page.sequence %}">JP2 ({{ image_size }})</a>
        </span>
        <span class="control">
          <span class="glyphicon glyphicon-scissors"
            aria-hidden="true"></span>
          <a id="clip" href="#" target="print">Clip/Print Image</a>
        </span>
      {% endif %}
    </span>{# /other_controls #}
  </div>{# /imageViewer_nav #}
{% endblock page_image_toolbar %}
